@use 'variaveis';
@use 'mixins';


.container-sinopse {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    
    &__div {
        display: flex;
        justify-content: center;
        flex-direction: column;

        &__titulo {
        color: variaveis.$corDeTextoPrincipal;
        font-size: 1em;
        

            & span {
                @include mixins.corLinear;
            }
        }
    }

    &__titulo {
        color: variaveis.$corDeTextoPrincipal;
        font-size: 1em;

        & span {
            @include mixins.corLinear;
        }
    }
    
    &__div {
        display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px;
    margin-top: 10px;
    gap: 24px;

    @media screen and (max-width: 768px) {
        display: grid;
        grid-template-columns: 1fr;
}

        &__texto {
            @include mixins.corLinear;
        }

        &__img {
            width: 70%;
        }

        &__descricao {
            color: variaveis.$corDeTextoPrincipal;

            & span {
                @include mixins.corLinear;
            }
        }

    }
}