@use 'variaveis';

.sec1 {
    background-color: rgb(43, 42, 42);
}

.home {
    display: flex;
    justify-content: space-between;
    max-width: 1264px;
    margin: 0 auto;
    min-height: 80vh;
    align-items: center;

        &__img {
            max-width: 50%;
        }


        &__texto-principal {
            display: flex;
            flex-direction: column;
            max-width: 1024px;
            margin: 0 auto;
            align-items: center;

            &__h1 {
                color: variaveis.$corDeTextoPrincipal;
                text-align: center;
                color: variaveis.$corDeTextoPrincipal;

                & span {
                    background: linear-gradient(to bottom,white, red);
                    background-clip: text;
                    color: transparent;
                }
            }

                &__img {
                    max-width: 50%;
                }
        }
}