@use 'variaveis';
@use 'home';
@use 'sinopse';
@use 'personagens';
@use 'melhoresMomentos';

body {
    background-color: variaveis.$corDoBackgroundBody;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    scroll-behavior: smooth;
}

header {
    background-color: variaveis.$corDoHeader;
    box-shadow: 0px 0.1px 20px purple;
    position: sticky;
    top: 0;
}

.navegator {
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    color: variaveis.$corDeTextoPrincipal;
    align-items: center;
    padding: 24px;

    img {
        max-width: 15%;
    }

    .list {
        display: flex;
        list-style-type: none;
    
        li {
            margin-right: 24px;

            @media screen and (max-width: 768px) {
                margin-right: 8px;
                font-size: 0.9em;
            }

            @media screen and (max-width: 545px) {
                margin-right: 8px;
                font-size: 0.7em;
            }

            @media screen and (max-width: 450px) {
                margin-right: 8px;
                font-size: 0.6em;
            }

            @media screen and (max-width: 378px) {
                margin-right: 8px;
                font-size: 0.7em;
                margin-left: 8px;
            }
    
            a {
                text-decoration: none;
                color: variaveis.$corDeTextoPrincipal;

                &:hover {
                    background: linear-gradient(to bottom,white, red);
                    background-clip: text;
                    color: transparent;
                    transition: 0.5s;
                }
            }
        }
    }

}